
body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1024px;
}

/* gallery style */
ul.gallery {
  list-style: none;
  padding: 0;
}

ul.gallery li img {
  width: 360px;
  height: 200px;

  cursor: pointer;
}

ul.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
